body {
    background-color: black;
    color: white;
    font-family: 'press start 2p';
    margin: 0;
    padding: 0;
    text-rendering: optimizeLegibility;
}   


canvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}

header {
    position: relative;
    background-color: rgba(0, 0, 0, 0.706);
    width: 100%;
/* color: white; */
    text-align: center;
/* background-color: aliceblue; */
    font-family: 'press start 2p';
    color: greenyellow;
    z-index: 5;
    
    padding: 30px 0 5px 0;
}

h1 {
    margin: 0;
    text-shadow: 4px 8px 20px #ff0000;
}

h2 {

    text-shadow: 4px 8px 20px #ff0000;
}

nav ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding: 0;
    font-size: 20px;
    margin: 30px 0 0 0;
    
}

a {
    color: purple
}

a:hover{
    /* colour that contrast with green */
    color: #ff0000;
    /* remove underline */
    text-decoration: none;
    /* color: ; */
    /* bring in front of canvas */
}

a img {
    /* make black and white; */
    /* filter: grayscale(100%); */
    /* change colour to green */

    filter: hue-rotate(260deg);
}

a img:hover {
    scale: 1.05;
    filter: hue-rotate(300deg);
}

/* make footer be at th bottom of the page  */
footer {
    position: relative;
    bottom: 0;
    width: 100%;
    min-height: 2.5rem;        /* Footer minimum height */
    background-color: rgba(0, 0, 0, 0.613);
    color: white;
    text-align: center;
    font-family: 'press start 2p';
    color: greenyellow;
    z-index: 5;
    margin-top: 60px
  }

  .iconlink {
    font-size: 8px;
    line-height: 2.5;
  }

@media screen and (max-width: 600px) {
    .ul-home {
        flex-direction: column;
        align-items: center;
        margin: 8rem 0 0 0;
        gap: 90px;
        font-size: 26px;
        padding: 0;
    }
}
