header h1 {
    color: #ff0000;
}

.projects-section {
    display: flex;
    /* flex-direction: row; */
    justify-content:  center;
}

.project {
    /* padding: 3rem; */
    margin: 70px 20px;
    width: 300px;

    /* max-width: 70%; */
    border-top: dotted #ff0000 4px;
    border-bottom: dotted #ff0000 4px;
    border-left: dashed lime 3px;
    border-right: dashed lime 3px;
    
    background-color: rgba(0, 0, 0, 0.838);
    /* bring background infront of canvas */
    z-index: 1;
    position: relative;
    text-align: center;
    


}

a:hover {
    color: lime;
    text-decoration: none;
}

.project-img {
    width: 200px;
    height: auto;
}

@media screen and (max-width: 600px) {


}

    
@media screen and (max-width: 900px) {
    .projects-section {
        flex-direction: column;
        align-items: center;
        margin: 3rem 0 0 0;
        gap: 60px;
        /* font-size: 26px; */
        padding: 0;
    }

    .project-img {
        width: 300px;

    }

    .project {
        margin: 40px 80px 0 80px;
        /* padding: 70px; */
        width: auto;
        padding: 3rem;
    }
}
    
