header h1 {
    color: #ff0000;
}

.projects-section {
    display: flex;
    /* flex-direction: row; */
    justify-content:  center;
}

.project {
    padding: 10px;
    margin: 70px 20px;
    width: 300px;

    /* max-width: 70%; */
    border-top: dotted #ff0000 2px;
    border-bottom: dotted #ff0000 2px;
    border-left: dashed lime 1px;
    border-right: dashed lime 1px;
    
    background-color: rgba(0, 0, 0, 0.838);
    /* bring background infront of canvas */
    z-index: 1;
    position: relative;
    text-align: center;
    


}

a:hover {
    color: lime;
    text-decoration: none;
}

.project-img {
    /* width: 250px; */
    width: 100%;
    height: auto;
    /* padding: 20px; */
}

@media screen and (min-width: 900px) {
    .dbah-h3 {
        font-size: 0.7rem;
        margin-bottom: 27px;
    }

}

    
@media screen and (max-width: 900px) {
    .projects-section {
        flex-direction: column;
        align-items: center;
        margin: 3rem 0 0 0;
        gap: 60px;
        /* font-size: 26px; */
        padding: 0;
    }

    .project-img {
        width: 100%;
        max-width: 250px;
        height: auto;

    }

    .project {
        margin: 40px 30px 0 30px;
        /* padding: 70px; */
        /* width: auto; */
        padding: 3rem;
    }
}

@media screen and (max-width: 430px) {
    .project {
        justify-self: center;
        width: 50%;
        color: red;

    }
}
    
